@media screen and (min-width:1140px) {
    
    @keyframes link {
        0% {
            transform: rotate();
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    /*----------------------------------------
    HEADER---------------------------*/

    header .section {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }
    header .section .logo {
        margin: 47px 0 20px 0;
    }

    /*----------------------------------------
    HEADER MENU---------------------------*/

    .menu {
        margin: 0 0 2rem 0;
    }
    .menu ul {
        background: #fff;
    }
    header .section p {
        width: 74.1228%;
        font: 3rem/3.6rem 'Open Sans', sans-serif;
        font-weight: 300;
        text-align: left;
        margin: 0 0 8rem 0;  
    }
    .topMenu {
        display: flex;
        justify-content: flex-start;
    }
    .topMenu .btn-search {
        width: auto;
    }
    .topMenu .btn-search input[type="search"] {
        width: auto;
        margin: 75px 0; 
    }
    .topMenu .btn-search input[type="submit"] {
        top: 76px;
        left: 1px;
    }
    .menu ul {
        display: flex;
        flex-flow: row;
        right: 700px;
        height: auto;
        width: auto;
        margin: 7rem 0 0 0;
        position: inherit;
    }
    header .column1 {
        border-top: .2rem solid #000000;
        justify-content: space-between;
    }
    .menu li {
        margin: 0 2rem 0 0;
    }
    
    /*----------------------------------------
    Common styles---------------------------*/
    
    .grid {
        max-width: 1140px;
        padding: 0;
    }
    .section {
        display: flex;
        margin: 0 0 10rem 0;
    }
    .section h1, .section .caption {
        width: 22.3684%;
        margin: 0 4rem 0 0;
        padding: 2rem 0 0 0;
        border-top: .2rem dotted #959595;
        border-bottom: none;
    }
    .section .caption {
        border-top: none;
    }
    .column {
        width: 74.1228%;
        justify-content: flex-start;
        flex-flow: wrap;
    }

    /*----------------------------------------
    Blog styles-----------------------------*/

    .blog article {
        width: calc((100% - 8rem) / 3);
        margin: 0 4rem 0 0;
    }
    .blog article:nth-of-type(3n) {
        margin: 0;
    }
    .blog article h2 {
        margin: 2rem 0;
    }
    .blog .image {
        overflow: hidden;
    }
    .blog .image a {
        top: -100%;
        transition: top 1s;
    }
    .blog .image:hover a::before {
        animation: link 3s linear infinite;
    }

    /*----------------------------------------
    Gallery styles--------------------------*/

    .gallery article {
        width: calc(100% / 4);
        overflow: hidden;
    }
    .gallery article a {
        bottom: -100%;
        transition: bottom 1s;
    }
    .gallery article p {
        color: #9f9e9e;
    }

    /*----------------------------------------
    HOVER-----------------------------------*/

    .blog .image:hover a {
        top: 0;
    }
    .gallery article:hover a {
        bottom: 0;
    }
    .menu ul li:hover a {
    color: #565656;
    border-bottom: .1rem solid #565656;
    }
    .social .ic1:hover {
    background-position: -4px -36px; 
    }
    .social .ic2:hover {
        background-position: -28px -36px;
    }
    .social .ic3:hover {
        background-position: -52px -36px;
    }
    .social .ic4:hover {
        background-position: -76px -36px;
    }
    .social .ic5:hover {
        background-position: -100px -36px;
    }
    
    /*----------------------------------------
    FOOTER---------------------------*/

    footer .section article h2 {
        text-transform: uppercase;
    }
    footer .section article {
        width: calc((100% - 8rem) / 3);
        margin: 0 4rem 0 0;
    }
    footer .section {
        justify-content: flex-end;
    }
    .social li, .social a {
        margin: 0 10px 0 0;
        transform: scale(1, 1);
    }

}
