$dotted: .2rem dotted #959595;
$greyLine: .3px solid #474747;
/*---------------------------------------
GLOBAL---------------------------------*/

body {
    background: #f6f6f6;
    color: #565656;
    font: 1.2rem/1.8rem 'Open Sans', sans-serif;
}
.grid {
    padding: 0 5vw;
    margin: 40px auto;
}

/*----------------------------------------
HEADER---------------------------*/

header .grid {
    margin: 0 auto;
}
header {
    background: #ffffff; 
}
header .section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
header .logo {
    width: 118px;
    height: 88px;
    display: block;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}
header .section p {
    font: 300 3rem/3.6rem 'Open Sans', sans-serif;/*!!!!!!!!!!*/
    text-align: center;
}
.topMenu .btn-search {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;  /*!!!!!!!!!!*/
    position: relative;
    margin: 1rem 0;
}
.topMenu .btn-search input[type="search"] {
    padding: 0 0 0 15px;
    font-style: italic;
    flex: 1 100%;
}
.topMenu .btn-search input[type="submit"] {
    width: 13px;
    height: 17px;
    border: none;
    text-indent: -9999px;
    background-image: url(../images/monotone_search_zoom.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: 1px;
}
header .column {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/*----------------------------------------
HEADER MENU---------------------------*/

.menu {
    margin: 0 0 20px 0;
}
.menu a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #959595;
    font: 1.5rem/3.6rem 'Open Sans', sans-serif;
    font-weight: 600;
}
.menu ul {
    position: absolute;
    width: 180px;
    height: 225px;
    top: -230px;
    right: 0;
    background: #ffffff;
    padding: 0 0 0 5px;
    transition: top 1s;  /*!!!!!!!!!!*/
    background: #f6f6f6;
    z-index: 5;
}
.section .active ul {
    top: 75px;
    right: 0;
    position: absolute;
    display: block;
    z-index: 5;
    background: #f6f6f6;
}
header .humb {
    display: block;
    text-indent: -9999px;
    border-bottom: 2px solid #000000;
    width: 30px;
    height: 25px;
    position: relative;
    margin: 31.5px 0 0 0;
}
header .humb::before, header .humb::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #000000;
    top: 0;
    left: 0;
    position: absolute;  
}
header .humb::after {
    top: 11px;
}


/*----------------------------------------
Common styles---------------------------*/

.section h1 {
    font: 1.4rem/2.1rem 'Open Sans', sans-serif; 
    text-transform: uppercase;
    border-bottom: $dotted;
    padding: 0 0 1rem 0;
    margin: 0 0 2rem 0;
}
.column {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.section img {
    display: block;
    width: 100%;
    max-width: 100%;
}
.section .caption {
    border-top: none;
}

/*----------------------------------------
Blog styles-----------------------------*/

.blog article {
    width: 100%;
    margin:  0 0 2rem 0;
}
.blog article h2 {
    font: 1.5rem/2.1rem 'Open Sans', sans-serif;
    margin: .5rem 0;
}
.blog article p {
    color: #959595;
}
.blog .image {
    position: relative;
}
.blog .image a {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    text-indent: -9999px;
    top: 0;
    left: 0;
}
.blog .image a::before {
    content: '';
    background-image: url(../images/link.jpg);
    width: 35px;
    height: 35px;
    position: absolute;
    top: calc(50% - 17.5px);
    left: calc(50% - 17.5px);
    border-radius: 50%;
}

/*----------------------------------------
Gallery styles--------------------------*/

.gallery article {
    width: 100%;
    position: relative;
    font: 1.2rem/1.8rem 'Open Sans', sans-serif;
}
.gallery article a {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    bottom: 0;
    text-decoration: none;
    transition: bottom 1s;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 0 0 2rem 1.5rem;
}
.gallery article h2 {
    color: #ffffff;
    text-transform: uppercase;
}
.gallery article p {
    color: #ffffff;
}

/*----------------------------------------
FOOTER---------------------------*/

footer {
    background: #171717;
    display: flex;
}
footer .section article h2 {
    font: 1.4rem/2.1rem 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #919191;
}
footer .section article {
    width: 255px;
    margin: 0 40px 0 0;
    border-top: $greyLine;
}
footer .section article:nth-child(3n) {
    margin: 0;
}
footer .column article p {
    color: #474747;
    margin: 0 0 2rem 0;
}
footer article a {
    color: #5c5c5c;
    text-decoration: none;
}
.social {
    display: flex;
    width: 260px;
}
.social li, .social a {
    width: 24px;
    height: 24px;
    margin: 0 20px 0 0;
    transform: scale(1.2, 1.2);
}
.social a {
    display: block;
    text-indent: -9999px;
    background: #565656 url(../images/pap/spritesheet_common.png);
    border-radius: 50%;
}
.social .ic1 {
    background-position: -4px -4px;
}
.social .ic2 {
    background-position: -28px -4px;
}
.social .ic3 {
    background-position: -52px -4px;
}
.social .ic4 {
    background-position: -76px -4px;
}
.social .ic5 {
    background-position: -100px -4px;
}
