@media screen and (min-width:768px) {
    
    .column {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .blog article {
        width: calc(50% - 4rem);
        margin: 0 4rem 1rem 0;
    }
    .gallery article {
        width: 50%;
    }
  
    /*----------------------------------------
    HEADER---------------------------*/

    header .grid {
        margin: 0 auto;
    }
    header {
        background: #ffffff; 
    }
    header .section {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }
    header .logo {
        margin: 0 0 2rem 0;
    }

    /*----------------------------------------
    HEADER MENU---------------------------*/

    .menu {
        margin: 0 0 2rem 0;
    }
    .menu ul {
        background: #fff;
    }
    header .humb {
        display: none;  
    }
    
    .menu ul {
        display: flex;
        flex-flow: row;
        right: 700px;
        height: auto;
        width: auto;
        margin: 3.5rem 0 0 0;
        position: inherit;
    }
    header .column {
        border-top: .2rem solid #000000;
        justify-content: space-between;
    }
    .menu li {
        margin: 0 2rem 0 0;
    }

}